<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example"/>

    <bean name="cardRepository" class="org.example.repository.CardRepository"/>
    <bean name="initdataBase" class="org.example.db.InitDataBase" autowire="byType"/>
    <bean name="transactionRepository" class="org.example.repository.TransactionRepository"/>
    <bean name="profileService" class="org.example.service.ProfileService" autowire="byType"/>
    <bean name="terminalRepository" class="org.example.repository.TerminalRepository"/>
    <bean name="terminalService" class="org.example.service.TerminalService" autowire="byType" scope="singleton"/>
    <bean name="profileRepository" class="org.example.repository.ProfileRepository"/>
    <bean name="transactionService" class="org.example.service.TransactionService" autowire="byType"/>
    <bean name="cardService" class="org.example.service.CardService" autowire="byType"/>
    <!--    <bean name="authController" class="org.example.controller.AuthController" autowire="byType" scope="prototype"-->
    <!--          init-method="init"/>-->
    <bean name="authService" class="org.example.service.AuthService" autowire="constructor"/>
<!--    <bean name="profileController" class="org.example.controller.ProfileController" autowire="byType"/>-->
<!--    <bean name="adminController" class="org.example.controller.AdminController" autowire="byType"/>-->

</beans>